* {
  box-sizing: border-box;
}

body {
  background-color: lemonchiffon;
}

.title {
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container {
  width: 350px;
  background-color: aliceblue;
  height: 350px;
  margin: 0 auto;
}

.board {
  width: 350px;
  background-color: aliceblue;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.red {
  background-color: red;
}
